<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ResourceId>/subscriptions/1f50f441-6ce9-4661-9f6c-db33c656af56/resourceGroups/servidorpruebas/providers/Microsoft.Web/sites/openpos-serv</ResourceId>
    <ResourceGroup>servidorpruebas</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <SiteUrlToLaunchAfterPublish>https://openpos-serv.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <MSDeployServiceURL>waws-prod-bn1-065.publish.azurewebsites.windows.net:443</MSDeployServiceURL>
    <DeployIisAppPath>openpos-serv</DeployIisAppPath>
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$openpos-serv</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>